.image {
  position: relative;
}

img {
  transition: opacity 0.5s;
}

.imgHover:hover {
  opacity: 0.1;
}

.imgOpacity {
  opacity: 0.1;
}

.image > p {
  position: absolute;
  top: 200px;
  left: 0;
  width: 90%;
  text-align: center;
  border: 1px solid;
  margin: 9px;
  background-color: white;
}

.hidden {
  display: none;
}

.animeInfo {
  width: 250px;
}
